# Python bytecode and cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution and packaging directories
*.egg-info/

# Specifics
.env
checkpoints/
wandb/
assets/
logs/

# Cluster-specific files
core_*

# Outputs
outputs/
