# Python bytecode and cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution and packaging directories
*.egg-info/

# Specifics
checkpoints/
wandb/
assets/
logs/
logs_old/

# Cluster-specific files
core_*

# log files
slurm-*